@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  src: url(/fonts/Vazirmatn-Regular.woff2);
}

body {
  font-family: "Vazirmatn";
  box-sizing: border-box;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-spinner {
  appearance: textfield;
}
